body{
    background-image: url(bg.jpg);
    background-repeat: none;
    /* background-position: center; */
    color: rgba(27, 204, 57, 0.779);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 500%; */
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.isi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}