{% extends 'layout_admin.html' %}

{% block konten %}

    <div class="isi">

        <h1>INPUT DATA SISWA</h1>
        <form action="/simpan" method="post" >
            <input type="text" name="nama" placeholder="Enter nama" ><br>
            <input type="number" name="kelas" min="10" max="12" placeholder="Enter kelas" ><br>
            <textarea name="alamat" placeholder="Enter alamat" ></textarea><br>
            <button type="submit">KIRIM</button>
        </form>
    </div>
        

{% endblock %}